
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap'); */

*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;

}

.active{
  color: #4eb3c7 !important;
  transition: color 0.3s ease-in-out;
  /* background-color:rgb(249, 212, 225); */
  border-radius: 10px;
}
.navinnerdiv>.active{
  color: rgb(0, 0, 0) !important;
}
ul{
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 500;
}

.navLink{
  position: relative;
}

.navLink:hover:before{
  width: 80%;
}

li>.navLink:before{
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0%;
  background-color:#4eb3c7;
  border-radius: 50px;
  transition: 0.3s ease;

}

.NavTitle{
  font-size: 28px;
}
.mainTitle{
  /* font-family: 'Dancing Script'; */
  font-family: 'Dancing Script', cursive;
}
.navBgcolor{
  background-color: orange !important;
}

.imgWrapper{
  margin-top: -10px;
  margin-bottom: -15px;
}
.ddd > img{
  width: 100%;
  height: 35vh;
}
.textBold{
  font-weight: 500;
  font-size: 16px;
}
.titlefont{
  font-size:18px !important;
}
.titlefontt{
  font-size:15px !important;
}
.ram{
  margin-bottom: -20px !important;
}

/* custom scrolbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(201, 197, 197); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellow; 
}
 